# Array Function

<h3 style="color: #ff0000; font-weigth: 700">Array Features -
<li>Ordered</li>
<li>Changeable</li>
<li>Allow Duplicates</li></h3>

In [1]:
import array as ar

In [2]:
a = ar.array('i',[2,4,1,9])

a

In [3]:
id(a)

1728329798512

In [4]:
a = ar.array('f',[9,3,4,5,2])

In [5]:
a

array('f', [9.0, 3.0, 4.0, 5.0, 2.0])

<h3 style="color: #ff0000; font-weigth: 700">You can't put floating in a signed int</h3>

In [6]:
a = ar.array('i',[2.4,6,7,3])

TypeError: integer argument expected, got float

In [ ]:
a

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.hist(a)

In [ ]:
b = ar.array('i',[1,3,5,2,6])
e = [6,5,4.6,7,3.40,'maruf']

In [ ]:
import sys

print(sys.getsizeof(b))

print(sys.getsizeof(e))

In [ ]:
import array as ar
student_roll = ar.array('i',[])

item = int(input('Number of students? '))

for x in range(item):
    new_roll = int(input('Write numbers ')) 
    student_roll.append(new_roll)

In [ ]:
import array as arr

s_roll = arr.array('i',[])

all_item = int(input('How many numbers you have? '))

for x in range(all_item):
    p_roll = int(input('Write numbers '))
    
    s_roll.append(p_roll)

In [ ]:
import array as ars

ar_people = ars.array('i',[])

ar_item = int(input('What is total number? '))

for x in range(ar_item):
    ar_count = int(input('Number one by one? '))
    ar_people.append(ar_count)

In [ ]:
ar_people

In [ ]:
import array as ars

ar_people = ars.array('i',[])

ar_item = int(input('What is total number? '))

for x in range(ar_item):
    ar_count = int(input('Number one by one? '))
    ar_people.append(ar_count)

In [ ]:
import array as ir

ir_st = ir.array('i',[])
ir_items = int(input('Enter numbers '))

for x in range(ir_items):
    new_st = int(input('Number per one '))
    ir_st.append(new_st)

In [ ]:
ir_st

In [ ]:
ir_st.insert(4,102)

<h3 style="color: #ff0000; font-weigth: 700">insert - (index number, value)</h3>

In [ ]:
ir_st

In [ ]:
ir_st.remove(2)

<h3 style="color: #ff0000; font-weigth: 700">remove - (value)</h3>

In [ ]:
ir_st

In [ ]:
ir_st.index(102)

In [ ]:
5 in ir_st

<h3 style="color: #ff0000; font-weigth: 700">If the value stays in the array it will show 'True', otherwise False</h3>

In [ ]:
200 in ir_st

In [ ]:
ir_st.insert(4,200)

In [ ]:
ir_st

In [ ]:
ir_st.insert(5,1)

<h3 style="color: #ff0000; font-weigth: 700">insert - you can replace an index with a value</h3>

In [ ]:
import array as arrs
new_arrs = arrs.array('i',[34,78,90,34,12,45])

In [ ]:
new_arrs.insert(0,40)

In [ ]:
new_arrs

In [ ]:
ir_st

In [ ]:
ir_st.remove(1)

<h3 style="color: #ff0000; font-weigth: 700">If you use remove function, if there have same value but more than one, according to index(ascending) first will be removed</h3>

In [ ]:
ir_st

<h3 style="color: #ff0000; font-weigth: 700">del - delete value by index number</h3>

In [ ]:
import array as arrs
new_arrs = arrs.array('i',[34,78,90,34,12,45])

<h3 style="color: #ff0000; font-weigth: 700">del - must keep [ ] not ( )</h3>

In [ ]:
del new_arrs[5]

In [ ]:
new_arrs

In [ ]:
new_arrs

# List Function

<h3 style="color: #ff0000; font-weigth: 700">List Features -
<li>Ordered</li>
<li>Changeable</li>
<li>Allow Duplicates</li>
<li>Represnt by Square Brackets [ ] </li></h3>

In [ ]:
li = [12,45,78,'Wordwar',20,'98']

In [ ]:
type(li)

<h3 style="color: #ff0000; font-weigth: 700">list - you can put number, float, string, boolean all in a list</h3>

<h3 style="color: #ff0000; font-weigth: 700">list - find value by index number</h3>

In [ ]:
li[3]

<h3 style="color: #ff0000; font-weigth: 700">list - you can show from negative/reverse</h3>

In [ ]:
li[-1]

<h3 style="color: #ff0000; font-weigth: 700">list - remember: from negative there have no zero(0) number index, start from -1</h3>

In [ ]:
li[-4]

In [ ]:
li

<h3 style="color: #ff0000; font-weigth: 700">list - you can se a bundary</h3>

In [ ]:
li[1:4]

<h3 style="color: #ff0000; font-weigth: 700">list (from positive) - will not show the last index(4)</h3>

In [ ]:
li

In [ ]:
li[-1]

<h3 style="color: #ff0000; font-weigth: 700">list - change a value by calling index number</h3>

In [ ]:
li[1] = 'Limitless'

In [ ]:
li

<h3 style="color: #ff0000; font-weigth: 700">list - in a list another one or more lists may have</h3>

In [ ]:
l2 = [23,78,90,['Wold','fine',31,96],65,39]

In [ ]:
l2

In [ ]:
type(l2)

In [ ]:
l2[3]

In [ ]:
l2[3][2]

In [ ]:
l2[3][2] = 20

In [ ]:
l2

<h3 style="color: #ff0000; font-weigth: 700">list - creating list using constructor list( )</h3>

In [ ]:
l3 = list((4,6,9,'worldcare'))

In [ ]:
l3

In [ ]:
l4 = list(('data'))

In [ ]:
l4

In [ ]:
type(l4)

<h3 style="color: #ff0000; font-weigth: 700">list - can be counted, how many times a value has been used</h3>

In [ ]:
l5 = [1,3,7,[6,7,9,1],4,2,1,7]

In [ ]:
l5.count(1)

In [ ]:
l5.append(23)

In [ ]:
l5

In [ ]:
l5.insert(1,'world')

In [ ]:
l5

In [ ]:
l5.pop(-1)

In [ ]:
l5

In [ ]:
l5.remove('world')

In [ ]:
l5

In [ ]:
del l5[2]

In [ ]:
l5

# Tuple

<h3 style="color: #ff0000; font-weigth: 700">Tuple Features -
<br/>
<li>Ordered</li>
<li>Un-Changeable or immutable</li>
<li>Allow Duplicates</li>
<li>Can't add new value after declaration</li>
<li>Represnt by Square Brackets ( )</li></h3>

In [35]:
t1 = (1, 3, 7, [6, 7, 9, 1], 4, 2, 1, 7)
t1

(1, 3, 7, [6, 7, 9, 1], 4, 2, 1, 7)

<h3 style="color: #ff0000; font-weigth: 700">tuple - may have list inside tuple</h3>

In [36]:
import array as arr
import sys

ar_5 = arr.array('i',[1,3,7,4,2,1,7,90])

print(sys.getsizeof(l5))
print(sys.getsizeof(t1))
print(sys.getsizeof(ar_5))

NameError: name 'l5' is not defined

<h3 style="color: #ff0000; font-weigth: 700">tuple - cost less space than list</h3>

In [ ]:
type(t1)

<h3 style="color: #ff0000; font-weigth: 700">tuple - If there need any change, you have migrate it as a list first, then work , then turn into tuple again</h3>

In [ ]:
t2 = list(t1)

In [ ]:
t2

In [ ]:
type(t2)

In [ ]:
t2.append(100)

In [ ]:
t2

In [ ]:
t2.remove(4)

In [34]:
t2

NameError: name 't2' is not defined

In [33]:
t1 = tuple(t2)

NameError: name 't2' is not defined

In [32]:
t1

NameError: name 't1' is not defined

<h3 style="color: #ff0000; font-weigth: 700">tuple - can be added by U/M way</h3>

In [31]:
t3 = (220,300)
t1 = t1+t3

NameError: name 't1' is not defined

In [30]:
t1

NameError: name 't1' is not defined

# Set

<h3 style="color: #ff0000; font-weigth: 700">Set Features -
<br/>
<li>Un-Ordered</li>
<li>Un-Changeable or immutable</li>
<li>Not Allow Duplicates</li>
<li>Can't add new value after declaration</li>
<li>Represnt by Curly Brackets { }</li></h3>

In [ ]:
s1 = {1, 3, 7, 2, 1, 7, 100, 220, 300}
s1

In [7]:
type(s1)

NameError: name 's1' is not defined

In [ ]:
100 in s1

In [ ]:
240 in s1

In [ ]:
for x in s1:
    print(x)

In [ ]:
s1.index(220)

<h3 style="color: #ff0000; font-weigth: 700">Set - un-ordered, index will not work
</h3>

In [ ]:
s1

In [ ]:
s1.add(20)

In [ ]:
s1

In [ ]:
s1.add(20)

<h3 style="color: #ff0000; font-weigth: 700">set - doesn't support duplicate values</h3>

In [ ]:
s1

<h3 style="color: #ff0000; font-weigth: 700">set - can be removed</h3>

In [ ]:
s1.remove(2)
s1

In [ ]:
s1.remove(2)

<h3 style="color: #ff0000; font-weigth: 700">set - use discard to overlook error</h3>

In [ ]:
s1.discard(7)

In [ ]:
s1

In [ ]:
s1.discard(7)
s1

<h3 style="color: #ff0000; font-weigth: 700">set - can be updated</h3>

In [ ]:
s1

In [ ]:
s1.update([6,9,2])
s1

In [ ]:
s1

<h3 style="color: #ff0000; font-weigth: 700">set - intersection function, only keep common values matching 2 sets</h3>

In [ ]:
s1

In [ ]:
s2 = { 6, 9, 20,45,81, 100, 220,'world'}

In [ ]:
s1.intersection(s2)

<h3 style="color: #ff0000; font-weigth: 700">set - union function, only keep unique values from 2 set, duplicate values - only one time</h3>

In [ ]:
s1

In [ ]:
s2

In [ ]:
s1.union(s2)

In [ ]:
s2.pop()

In [ ]:
s2

# Dictionary

<h3 style="color: #ff0000; font-weigth: 700">Dictionary Features -
<br/>&nbsp;
<li>Ordered</li>
<li>Changeable</li>
<li>Does Not Allow Duplicates</li>
<li>Represnt by Curly Brackets { }</li></h3>

In [ ]:
dict = {
    
    'name'     : 'Abdullah',
    'professsion' : 'Teacher',
    'age'       :  25
}

In [ ]:
type(dict)

In [ ]:
dict['age']

In [ ]:
dict.keys()

In [ ]:
dict.values()

In [ ]:
dict.items()

In [ ]:
for x in dict:
    print(x)

In [ ]:
for x in dict:
    print(dict[x])

# DATA FRAME

<h3 style="color: #ff0000; font-weigth: 700">Column is vertical, Row is horizontal</h3>

In [ ]:
dic1 = {
    
    'name'     : ['Abdullah','Mohammad'],
    'professsion' : ['Teacher','Professor'],
    'age'       :  [25, 29],
    'dob'        : ['Nov 92', 'Nov 91']
}

In [ ]:

dic1

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.DataFrame(dic1)

df1

<h3 style="color: #ff0000; font-weigth: 700">To drop a column use 'drop' and axis=1 for any column, drop(column name, axis=1)</h3>

In [ ]:
df1.drop('name',axis=1)

In [ ]:
df1 = pd.DataFrame(dic1)

df1

In [ ]:
df1.drop('age', axis=1)

<h3 style="color: #ff0000; font-weigth: 700">for deletion of any column - use drop('column name', axis = 1)</h3>

In [ ]:
df1 = pd.DataFrame(dic1)

df1

In [16]:
dic2 = {
    
    'name'     : ['Abdullah','Mohammad'],
    'profession' : ['Teacher','Professor'],
    'age'       :  [25, 29],
    'dob'        : ['Nov 92', 'Nov 91'],
    'area'      : ['Dhaka','Rajshahi']
}

In [17]:
dic2

{'name': ['Abdullah', 'Mohammad'],
 'profession': ['Teacher', 'Professor'],
 'age': [25, 29],
 'dob': ['Nov 92', 'Nov 91'],
 'area': ['Dhaka', 'Rajshahi']}

In [18]:
import pandas as pd

In [19]:
df2 = pd.DataFrame(dic2)
df2

       name profession  age     dob      area
0  Abdullah    Teacher   25  Nov 92     Dhaka
1  Mohammad  Professor   29  Nov 91  Rajshahi

In [20]:
df2.drop('profession',axis=1)

       name  age     dob      area
0  Abdullah   25  Nov 92     Dhaka
1  Mohammad   29  Nov 91  Rajshahi

In [21]:
df2

       name profession  age     dob      area
0  Abdullah    Teacher   25  Nov 92     Dhaka
1  Mohammad  Professor   29  Nov 91  Rajshahi

<h3 style="color: #ff0000; font-weigth: 700">mean( ) - mean value</h3>

In [22]:
df2['age2'] = df2.age.mean()

In [23]:
df2

       name profession  age     dob      area  age2
0  Abdullah    Teacher   25  Nov 92     Dhaka  27.0
1  Mohammad  Professor   29  Nov 91  Rajshahi  27.0

<h3 style="color: #ff0000; font-weigth: 700">To catch value use curly brackets [ ], to catch a function use parentheses ( )</h3>

In [24]:
df2['profession']

0      Teacher
1    Professor
Name: profession, dtype: object

In [25]:
df2['age']

0    25
1    29
Name: age, dtype: int64

In [26]:
df2['prof'] = df2.profession.mean()

TypeError: Could not convert TeacherProfessor to numeric

<h3 style="color: #ff0000; font-weigth: 700">only possible for number or float - can't possible convert to number or float(numeric)</h3>

In [27]:
df2

       name profession  age     dob      area  age2
0  Abdullah    Teacher   25  Nov 92     Dhaka  27.0
1  Mohammad  Professor   29  Nov 91  Rajshahi  27.0

<h3 style="color: #ff0000; font-weigth: 700">To count values use value_counts() function</h3>

In [29]:
df2.name.value_counts()

Abdullah    1
Mohammad    1
Name: name, dtype: int64

In [37]:
df2.shape

(2, 6)

In [ ]:
df2.